<link rel="import" href="../../assets/vendor/polymer/polymer.html">


<script>
  Transition = {
    
    _getTransitionEnd : function(){
      var el = document.createElement('div')

      var transEndEventNames = {
        WebkitTransition : 'webkitTransitionEnd',
        MozTransition    : 'transitionend',
        OTransition      : 'oTransitionEnd otransitionend',
        transition       : 'transitionend'
      }

      for (var name in transEndEventNames) {
        if (el.style[name] !== undefined) {
          return { end: transEndEventNames[name] }
        }
      }

      return false // explicit for ie8 (  ._.)
    },

    emulateTransitionEnd : function(duration){
    
    
    }
  }
</script>
