<link rel="import" href="../assets/vendor/polymer/polymer.html">

<dom-module id="bs-modal">
  <template>
    <!-- modal-dialog -->
    <div class="modal-dialog">
      <!-- modal content -->
      <div class="modal-content">
        <content></content>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" on-click="_handleClickClose">Close</button>
          <button id="save" type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
      <!-- end modal-content -->
    </div>
    <!-- modal-dialog -->
  </template>
  <script>
    // element registration
    Polymer({
     is: "bs-modal",
     hostAttributes : {
      'tabindex' : -1,
      'aria-hidden' : false
     },
     properties : {
        backdrop : {
          type : Boolean,
          value : true
        },
        keyboard : {
          type : Boolean,
          value : true
        }
      },

      listeners : {
        'clickCloseIcon' : 'hide'
      },

      ready : function(){
        this.classList.add('modal','fade');
        this.style.display = 'none';

        this.$dialog              = this.$$('.modal-dialog');
        this.$backdrop            = null;
        this.isShown              = false;
        this.ignoreBackdropClick  = false;
        this.scrollbarWidth       = 0;
        this.originalBodyPad      = null;

        this.fire('loaded');
      },
     
      show : function(){
        var self = this;
        this.fire('show');

        this.isShown = true;

        this._checkScrollbar();
        this._setScrollbar();
        document.body.classList.add('modal-open');
        
        this._escape();
        this._resize();


        this.$dialog.addEventListener('mousedown', this._ignoreBackdrop.bind(this));

        this._backdrop(function(){
          
          
          self.style.display = 'block';
          self.scrollTop = 0;

          self._adjustDialog();

          self.offsetWidth;// force reflow
          self.classList.add('in');

          self._enforceFocus();

          var transitionendHandle = function(){
            self.focus();
            self.$dialog.removeEventListener('transitionend', transitionendHandle);
            self.fire('shown');
          };

          self.$dialog.addEventListener('transitionend', transitionendHandle);
        });

      },

      hide : function(){
        var self = this;

        if(! this.isShown) return;

        this.isShown = false;

        this._escape();
        this._resize();

        document.removeEventListener('focusin', this._handleFocus);

        this.classList.remove('in');
        this.removeEventListener('click', this._clickModal);
        this.removeEventListener('mouseup', this._checkMouseup)
        this.$dialog.removeEventListener('mousedown', this._ignoreBackdrop);

        var transitionendHandle = function(e){
          
          self._hideModal();
          self.$dialog.removeEventListener('transitionend', transitionendHandle);
        };

        this.$dialog.addEventListener('transitionend', transitionendHandle);
      },

      _hideModal : function(){
        var self = this;

        this.style.display = 'none';
        this._backdrop(function(){
          document.body.classList.remove('modal-open');
          self._resetAdjustments();
          self._resetScrollbar();
          self.fire('hidden');
        });
      },

      toggle : function(){
        return this.isShown ? this.hide() : this.show();
      },

      _handleClickClose : function(e){
        this.hide();
        e.stopPropagation();
      },


      _backdrop : function(callback){
        var self = this;
        var animate = this.classList.contains('fade') ? 'fade' : '';
        if( this.isShown && this.backdrop){
          this.$backdrop = document.createElement('div');
          this.$backdrop.classList.add('modal-backdrop', animate);
          document.body.appendChild(this.$backdrop);

          this.addEventListener('click',this._clickModal );

          this.$backdrop.offsetWidth;
          this.$backdrop.classList.add('in');

          var showHandle = function(){
           
            self.$backdrop.removeEventListener('transitionend', showHandle);

            if (!callback) return;
            callback();
          };
      
          this.$backdrop.addEventListener('transitionend', showHandle);
         
        }else if(!this.isShown && this.$backdrop){
          

          var hideHandle = function(){
      
            self.$backdrop.removeEventListener('transitionend',hideHandle);
            self._removeBackdrop();
            if (!callback) return;
            callback();
          };

          this.$backdrop.addEventListener('transitionend',hideHandle);  
          this.$backdrop.classList.remove('in');  
        }else if(callback){
            callback();
        }
      },

      _removeBackdrop : function(){
        this.$backdrop && this.$backdrop.remove();
        this.$backdrop = null;
      },

       _ignoreBackdrop : function(e){
        this.addEventListener('mouseup',this._checkMouseup);
      },

      _checkMouseup : function(e){
        if(this !== e.target) this.ignoreBackdropClick = true;

        this.removeEventListener('mouseup',this._checkMouseup);
      },

      _clickModal : function(e){
        if(this.ignoreBackdropClick){
          this.ignoreBackdropClick = false;
          return;
        }
        
        if (e.target !== e.currentTarget) return;

        this.backdrop == 'static' ? this.focus() : this.hide();
      },
      _measureScrollbar : function () { // thx walsh
        var scrollDiv = document.createElement('div');
        scrollDiv.className = 'modal-scrollbar-measure';
        document.body.appendChild(scrollDiv);
        var scrollbarWidth = scrollDiv.offsetWidth - scrollDiv.clientWidth;
        scrollDiv.remove();
        return scrollbarWidth;
      },
      _checkScrollbar : function(){
         var fullWindowWidth = window.innerWidth;
          if (!fullWindowWidth) { // workaround for missing window.innerWidth in IE8
            var documentElementRect = document.documentElement.getBoundingClientRect();
            fullWindowWidth = documentElementRect.right - Math.abs(documentElementRect.left);
          }
          this.bodyIsOverflowing = document.body.clientWidth < fullWindowWidth;
          this.scrollbarWidth = this._measureScrollbar();
      },
      _setScrollbar : function () {
        var bodyPad = parseInt((document.body.style.paddingRight || 0), 10);
        this.originalBodyPad = document.body.style.paddingRight || '';
        if (this.bodyIsOverflowing) document.body.style.paddingRight = bodyPad + this.scrollbarWidth;
      },
      _resetScrollbar : function () {
        document.body.style.paddingRight = this.originalBodyPad;
      },
      _escape : function () {
        var self = this;

        var escapeHandle = function(e){
          e.keyCode == 27 && self.hide();
        }
        if (this.isShown && this.keyboard) {
          this.addEventListener('keydown',escapeHandle);
        } else if (!this.isShown) {
          this.removeEventListener('keydown',escapeHandle);
        }
      },
      _resize : function(){
        if (this.isShown) {
          window.addEventListener('resize', this._handleUpdate.bind(this));
        } else {
          window.removeEventListener('resize', this._handleUpdate);
        }
      },
      _handleUpdate : function(){
        this._adjustDialog();
      },

      _adjustDialog : function () {
        var modalIsOverflowing = this.scrollHeight > document.documentElement.clientHeight

        this.style.paddingLeft = !this.bodyIsOverflowing && modalIsOverflowing ? this.scrollbarWidth : '',
        this.style.paddingRight = this.bodyIsOverflowing && !modalIsOverflowing ? this.scrollbarWidth : ''
      },

      _resetAdjustments : function () {
        this.style.paddingLeft = '';
        this.style.paddingRight = '';
      },
      _enforceFocus : function(){
        document.removeEventListener('focusin', this._handleFocus);
        document.addEventListener('focusin', this._handleFocus.bind(this));
      },
      
      _handleFocus : function(e){
        if(this !== e.target){
          this.fire('focus');
        }
      }

    });
  </script>
</dom-module>

<dom-module id="bs-modal-header">
  <style>
    :host{
      display:block;
    }
  </style>
  <template>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" on-click="clickClose"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">
      <content></content>
    </h4>
  </template>
  <script>
    // element registration
    Polymer({
      is: "bs-modal-header",
      created : function(){
        this.classList.add('modal-header');
      },
      clickClose : function(e){
        this.fire('clickCloseIcon');
        e.stopPropagation();
      }
      
    });
  </script>
</dom-module>


<dom-module id="bs-modal-body">
  <style>
    :host{
      display:block;
    }
  </style>
  <template>
    <div class="modal-body">
      <content></content>
    </div>
  </template>
  <script>
    // element registration
    Polymer({
      is: "bs-modal-body",
      created : function(){
        this.classList.add('modal-body');
      }
    });
  </script>
</dom-module>

