<link rel="import" href="../assets/vendor/polymer/polymer.html">

<dom-module id="bs-modal">
  <template>
    <!-- modal-dialog -->
    <div class="modal-dialog">
      <!-- modal content -->
      <div class="modal-content">
        <content></content>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
      <!-- end modal-content -->
    </div>
    <!-- modal-dialog -->
  </template>
  <script>
    // element registration
    Polymer({
      is: "bs-modal",
      created : function(){
        this.classList.add('modal');
      }
    });
  </script>
</dom-module>

<dom-module id="bs-modal-header">
  <style>
    :host{
      display:block;
    }
  </style>
  <template>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Modal title</h4>
  </template>
  <script>
    // element registration
    Polymer({
      is: "bs-modal-header",
      created : function(){
        this.classList.add('modal-header');
      }
    });
  </script>
</dom-module>


<dom-module id="bs-modal-body">
  <style>
    :host{
      display:block;
    }
  </style>
  <template>
    <div class="modal-body">
      <p>One fine body&hellip;</p>
    </div>
  </template>
  <script>
    // element registration
    Polymer({
      is: "bs-modal-body",
      created : function(){
        this.classList.add('modal-body');
      }
    });
  </script>
</dom-module>

