<link rel="import" href="../assets/vendor/polymer/polymer.html">

<dom-module id="bs-modal">
  <template>
    <!-- modal-dialog -->
    <div class="modal-dialog">
      <!-- modal content -->
      <div class="modal-content">
        <content></content>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" on-click="handleClickClose">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
      <!-- end modal-content -->
    </div>
    <!-- modal-dialog -->
  </template>
  <script>
    // element registration
    Polymer({
      is: "bs-modal",
      properties : {
        shown : {
          type: Boolean,
          value : false
        },
        backdrop : {
          type : Boolean,
          value : true
        }
      },
      listeners : {
        'click' : 'hide'
      },

      ready : function(){
        this.classList.add('modal','fade');
        this.style.display = 'none';

        this.$dialog              = this.$$('.modal-dialog');
        this.$backdrop            = null;
        this.ignoreBackdropClick  = false;
      },

      show : function(){
        var self = this;

        this.shown = true;

        document.body.classList.add('modal-open');
        
        
        this._backdrop(function(){
          self.offsetWidth;// force reflow
          
          self.style.display = 'block';
          self.scrollTop = 100;

          self.classList.add('in');
          self.setAttribute('aria-hidden', false);
        });

      },

      hide : function(){
        var self = this;

        this.shown = false;


        this.classList.remove('in');
        
        var transitionendHandle = function(e){
          self.hideModal();
          self.$dialog.removeEventListener('transitionend', transitionendHandle);
        };

        this.$dialog.addEventListener('transitionend', transitionendHandle);
         
        // this.setAttribute('aria-hidden', true);
      },

      hideModal : function(){
        this.style.display = 'none';
        this._backdrop(function(){
          document.body.classList.remove('modal-open');
        });
      },

      toggle : function(){
        return this.shown ? this.hide() : this.show();
      },

      handleClickClose : function(e){
        this.hide();
        e.stopPropagation();
      },


      _backdrop : function(callback){
        var self = this;
        var animate = this.classList.contains('fade') ? 'fade' : '';
        if( this.shown && this.backdrop){
          this.$backdrop = document.createElement('div');
          this.$backdrop.classList.add('modal-backdrop', animate);
          document.body.appendChild(this.$backdrop);

          this.$backdrop.offsetWidth;
          this.$backdrop.classList.add('in');

          var showHandle = function(){
            self.$backdrop.removeEventListener('transitionend', showHandle);

            if (!callback) return;
            callback();
          };
      
          this.$backdrop.addEventListener('transitionend', showHandle);
         
        }else if(!this.shown && this.$backdrop){
          this.$backdrop.classList.remove('in');

          var hideHandle = function(){
            self.$backdrop.removeEventListener('transitionend',hideHandle);
            self._removeBackdrop();
            if (!callback) return;
            callback();
          };

          this.$backdrop.addEventListener('transitionend',hideHandle);    
        }else if(callback){
            callback();
        }
      },
      _removeBackdrop : function(){
        this.$backdrop && this.$backdrop.remove();
        this.$backdrop = null;
      },
      _measureScrollbar :function () { // thx walsh
        var scrollDiv = document.createElement('div')
        scrollDiv.className = 'modal-scrollbar-measure'
        this.$body.append(scrollDiv)
        var scrollbarWidth = scrollDiv.offsetWidth - scrollDiv.clientWidth
        this.$body[0].removeChild(scrollDiv)
        return scrollbarWidth
      }
    });
  </script>
</dom-module>

<dom-module id="bs-modal-header">
  <style>
    :host{
      display:block;
    }
  </style>
  <template>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" on-click="clickClose"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">
      <content></content>
    </h4>
  </template>
  <script>
    // element registration
    Polymer({
      is: "bs-modal-header",
      created : function(){
        this.classList.add('modal-header');
      },
      clickClose : function(e){
        this.fire('clickClose');
        e.stopPropagation();
      }
      
    });
  </script>
</dom-module>


<dom-module id="bs-modal-body">
  <style>
    :host{
      display:block;
    }
  </style>
  <template>
    <div class="modal-body">
      <content></content>
    </div>
  </template>
  <script>
    // element registration
    Polymer({
      is: "bs-modal-body",
      created : function(){
        this.classList.add('modal-body');
      }
    });
  </script>
</dom-module>

